# List required packages in this file, one per line.

bluesky
bluesky-live
bluesky-widgets
bluesky-kafka
bluesky-queueserver-api
xkcdpass
tiled[client]
numpy
pydantic

databroker @ git+https://github.com/bluesky/databroker.git@v2.0.0b56#egg=databroker
bluesky-tiled-plugins
json-rpc
